{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Désolé, cette page n'existe pas. Pour retourner sur la page principale, cliquer <a href="{{ path('homepage') }}">ici.</a> </h1>
{% endblock %}

{% block body %}

{% endblock %}
